<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register-Page</title>
  <style>
    

  </style>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div id="main">
    <div id="canvas">
      <div id="form-body-add-doctor">
        <form action="/add_doctor" method="post">
          <h2>Add a new Doctor</h2>
          <div class="mb-3">
            <label for="doctor-id" class="add-doctor">Doctor Id:</label>
            <input type="text" class="text-box-add-doctor" id="doctor-id" name="id">
          </div>
          <div class="mb-3">
            <label for="pwd" class="add-doctor">Password:</label>
            <input type="text" class="text-box-add-doctor" id="pwd" name="pwd">
          </div>
          <div class="mb-3">
            <label for="name" class="add-doctor">Full Name:</label>
            <input type="text" class="text-box-add-doctor" id="name" name="name">
          </div>
          <div class="mb-3">
            <label for="email" class="add-doctor">Specialization:</label>
            <input type="text" class="text-box-add-doctor" id="email" name="specs">
          </div>
          <div class="mb-3">
          <label for="pass" class="add-doctor">Experience(in years):</label>
          <input type="Number" min="0"class="text-box-add-doctor" id="pass" name="exp">
          </div>
          <button type="button" class="cancle-button" onclick="window.history.back()">
            Cancle
          </button>
          <input type="submit" class="add-button" value="Add">
        </form>
      </div>
    </div>
  </div>
</body>
</html>