<!DOCTYPE html>
<html lang="en">
<head>
  <title>index</title>
  <style>
    .login-button{
      padding: 10px 10px 10px 10px;
      background-color: rgb(169, 246, 169);
      border-radius: 10px;
      margin-top: 200px;
      margin: auto;
      margin-right: 10px;
      
    }
    .register-button{
      margin: auto;
      padding: 10px 10px 10px 10px;
      background-color: rgb(225, 153, 153);
      border-radius: 10px;
      margin-top: 200px;
      margin-left: 10px;
    }
    #body{
      width:200px;
      height: 100px;
      margin:auto;
    }
  </style>
</head>
<body>
  <div id="body">
    <button class="login-button" onclick="document.location='/login'">Login</button>
    <button class="register-button" onclick="document.location='/register'">Register</button>
</div>
  
</body>
</html>